<!--
  Generated template for the MapPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header>

    <ion-navbar>
        <ion-toolbar>
            <img id="logoYla" src="assets/imgs/Asset 4.svg">
            <ion-title class="ylaOtsikko slide-in-left" float-left *ngIf="!showSearch">Kartta</ion-title>
            <ion-searchbar class="slide-in-right" *ngIf="showSearch" id="haku" (ionInput)="setSearchTerm($event)" [animated]="true"
                           [placeholder]="'Etsi nimi tai osoite'"></ion-searchbar>
            <ion-buttons end>
                <button ion-button icon-only color="primary" (click)="toggleShowSearch()">
                    <ion-icon name="search"></ion-icon>
                </button>
            </ion-buttons>
        </ion-toolbar>
    </ion-navbar>

</ion-header>


<ion-content no-padding>
    <!--<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>-->
    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="15" [zoomControl]="true"
             [streetViewControl]="false" [styles]='mapStyle.style'>

        <agm-circle [latitude]="latitude" [longitude]="longitude" [radius]="30" [fillOpacity]="0.50"
                    [fillColor]="'#00009A'"></agm-circle>


        <span *ngFor="let menus of placeProvider.menus">
            <agm-marker *ngIf="search(menus.name, menus.address)" [latitude]="menus.location.latitude"
                        [longitude]="menus.location.longitude" [markerClickable]="true" [iconUrl]="{
                    url: 'assets/imgs/mini.png',
                       scaledSize: {
                            height: 41,
                            width: 41
                        }
                    }"
                        (markerClick)="markerClick(menus)">
            </agm-marker>
        </span>
    </agm-map>
</ion-content>
