// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-header {


  ion-navbar{

  }
  .toolbar-content {
    display: flex !important;
    align-content: center !important;
    align-items: center !important;
  }
  ion-toolbar {
    background: color($colors, secondary) !important;
  padding-left: 14px !important;
    padding-right: 14px !important;
    img {
      max-width: 40px;

    }
  }
}


img {
  max-width: 85px;

}

p {
  font-size: 12px !important;

}

.otsikkoRavintola {
  background: #DD6570 !important;
}

.ruokalista {
  padding: 0px;
  vertical-align: text-top !important;
}

.ruoka {
  font-weight: bold !important;
  color: #222 !important;
}

.allergeenit {

}

.item-inner {
  padding-right: 0 !important;
}

.osoite {
  max-height: 25px !important;
  text-overflow: ellipsis !important;
  text-align: justify !important;
  white-space: nowrap !important;
  color: white !important;
}

ion-list {
  padding-bottom: 8px !important;
}

ion-card-content {

  padding-top: 8px !important;
  padding-bottom: 8px !important;

}

ion-label {
  margin: 0 !important;
  white-space: normal;
}

ion-badge {
  font-size: 8px;
  white-space: normal;
}

ion-searchbar {



}


.logo {
  text-align: center;

  //background-color: #DD6570;
  margin-bottom: 10px;
  margin-top: 10px;
}

.lol {
  column-count: 5;

}

button {
  padding: 0px !important;
  margin-right: 0px !important;
}

.faveButton {
  padding-bottom: 18px;

}

.modalClose {
  margin-right: 10px !important;
}

ion-toolbar {
  padding-left: 16px !important;
  padding-right: 16px !important;
  overflow: hidden !important;;

  .toolbar-content {
    overflow: hidden;

  }

}

ion-card {
  margin-top: 5px !important;
  margin-bottom: 0 !important;
}

.toolbar-content {

}

#otsikkoR {

}

.pnolla {
  padding: 0;
  color: #2ec95c;
}

.kymppi {

  margin: 0px !important;
  text-align: justify;
  max-height: 25px;

  color: white !important;
}

.scroll-content {
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 0px !important;
  background: color($colors,harmaa);

}

.card-ios {
  margin: 0px;
  width: calc(100% - 0px);
}

@supports (column-count: 2) {
  .wrapper {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-gap: 0.5em;
    -webkit-column-gap: 0.5em;
    column-gap: 2px;

    ion-card {
      width: 100%;
      margin: 0 0.5em 2px 0;
      padding: 0em;
      display: inline-block;
      color: rgba(68, 68, 68, 1);

      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;

      img {
        display: block;
        margin: 0 auto 2em auto;
        width: 90px;
      }
    }
  }

  /// Define 4 column count for screen sizes up to 1200 pixels in width
  @media only screen and (max-width: 1200px) {
    .wrapper {
      -moz-column-count: 4;
      -webkit-column-count: 4;
      column-count: 4;
    }
  }

  /// Define 3 column count for screen sizes up to 900 pixels in width
  @media only screen and (max-width: 900px) {
    .wrapper {
      -moz-column-count: 3;
      -webkit-column-count: 3;
      column-count: 3;
    }
  }

  /// Define 2 column count for screen sizes up to 800 pixels in width
  @media only screen and (max-width: 800px) {
    .wrapper {
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 2;
    }
  }

  /// Define 1 column count for screen sizes up to 600 pixels in width
  @media only screen and (max-width: 600px) {
    .wrapper {
      -moz-column-count: 2;
      -webkit-column-count: 2;

      -moz-column-gap: 1px;
      -webkit-column-gap: 1px;
      column-gap: 5px;

    }
  }
}

