// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

#logoYla{
  z-index: 100;
}
.logoYla{
  z-index: 100;
}


ion-header {

  ion-navbar {

  }
  .toolbar-content {
    display: flex !important;
    align-content: center !important;
    align-items: center !important;
  }
  ion-toolbar {
    background: color($colors, secondary) !important;
    padding-left: 14px !important;
    padding-right: 14px !important;
    img {
      max-width: 40px;

    }
  }
}

img {
  max-width: 85px;

}

p {
  font-size: 12px !important;

}

.otsikkoRavintola {
  background: #DD6570 !important;
}

.ruokalista {
  padding: 0px;
  vertical-align: text-top !important;
}

.ruoka {
  font-weight: bold !important;
  color: #222 !important;
}


.item-inner {
  padding-right: 0 !important;
}

.osoite {
  max-height: 25px !important;
  text-overflow: ellipsis !important;
  text-align: justify !important;
  white-space: nowrap !important;
  color: white !important;
}

ion-list {
  padding-bottom: 8px !important;
}

ion-card-content {

  padding-top: 8px !important;
  padding-bottom: 8px !important;

}

ion-label {
  margin: 0 !important;
  white-space: normal;
}

ion-badge {
  font-size: 8px;
  white-space: normal;
}



.lol {
  column-count: 5;

}

button {
  padding: 0px !important;
  margin-right: 0px !important;
}

.faveButton {
  padding-bottom: 18px;
  padding-left: 16px;

}

.modalClose {
  margin-right: 10px !important;
}

ion-toolbar {
  padding-left: 16px !important;
  padding-right: 16px !important;
  overflow: hidden !important;;

  .toolbar-content {
    overflow: hidden;

  }

}

ion-card {
  margin-top: 3px !important;
  margin-bottom: 3px !important;
  margin-left: 3px !important;
width: calc(100% - 6px) !important;
}



.pnolla {
  padding: 0;
  color: #2ec95c;
}

.kymppi {

  margin: 0px !important;
  text-align: justify;
  max-height: 25px;
  color: white !important;
}

.scroll-content {
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 0px !important;
  background-color: color($colors, harmaa) !important;
  background: url('../assets/img/plain2.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;

}




.slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  z-index: 10;
}

/* ----------------------------------------------
 * Generated by Animista on 2018-3-9 12:43:35
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}


.slide-in-left {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2018-3-9 12:45:2
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
