<!--
  Generated template for the RandomModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header>
    <ion-navbar>
        <ion-toolbar>
            <img float-left class="logoYla" src="assets/imgs/Asset 4.svg">
            <ion-title float-left>Satunnainen ruoka</ion-title>
            <ion-buttons class="modalClose" end>
                <button ion-button icon-only color="primary" (click)="dismiss()">
                    <ion-icon name="md-close"></ion-icon>
                </button>
            </ion-buttons>
        </ion-toolbar>
    </ion-navbar>
</ion-header>

<ion-content no-padding>
    <div class="wrapper">
        <ion-card class="randomCard" *ngIf="done">
            <ion-list>
                <ion-toolbar color="primary">
                    <h2 class="kymppi">{{ restaurant }}</h2>
                    <p class="osoite">{{ restaurant_address }}</p>

                </ion-toolbar>
            </ion-list>
            <ion-card-content>
                <ion-item class="ruokalista">
                    <section *ngFor="let line of food">
                        <p class="ruoka">{{ line.food }} </p>
                        <p class="allergeenit"> {{ line.diets }}</p>
                    </section>
                </ion-item>
            </ion-card-content>

        </ion-card>

    </div>


</ion-content>
