page-random-modal {

  .randomCard {

    margin: 0 0.5em 2px 0;
    padding: 0em;
    display: inline-block;
    color: rgba(68, 68, 68, 1);

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .wrapper {
    -moz-column-count: 1 !important;
    -webkit-column-count: 1 !important;
    -moz-column-gap: 1px;
    -webkit-column-gap: 1px;
    column-gap: 5px;
    padding: 10% 20% 0 20%;
    margin: 0 !important;

  }

}